# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
venv/
env/
ENV/
.venv/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Pytest / Coverage
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
